{% extends "base.html" %}

{% block content %}

    {% if validlink %}
        <div class="input-field col s12">Введите новый пароль (и подтверждение)</div>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form.new_password1 }}
                    <label for="id_new_password1">Новый пароль:</label>
                </div>
                
                <div class="input-field col s12">
                    {{ form.new_password2 }}
                    <label for="id_new_password2">Подтверждение:</label>
                </div>
                
            </div>
            <div class="center-align">
                <button class="btn-floating btn-middle waves-effect waves-light" type="submit">
                <i class="material-icons">exit_to_app</i>
                </button>
            </div>
        </form>


            
        
    {% else %}
        <div class="input-field col s12">Сброс пароля невозможен. 
        Неправильная ссылка для изменения пароля. Возможно это произошло из-за того, что ей уже воспользовались. Попробуйте снова.</div>
    {% endif %}

{% endblock %}