{% extends 'base.html' %}



{% block content%}
<div class="col s12 card-panel teal center-align">
<ul class="pagination">
 
    {% if service.has_previous %}
        <li>
        <a href="?page={{ service.previous_page_number }}" class="white-text">
        <i class="material-icons">chevron_left</i></a></li>
    {% endif %}
 
    {% for num in service.paginator.page_range %}
        {% if num == service.number %}
            <li>
            <span class="current"><b>{{ num }}</b></span></li>
        {% else %}
           <li>
           <a href="?page={{ num }}"> {{ num }}</a></li>
        {% endif %} 
    {% endfor %}
 
    {% if service.has_next %}
      <li>
      <a href="?page={{ service.next_page_number }}" class="white-text">
      <i class="material-icons">chevron_right</i></a></li>
    {% endif %}
 
</ul>
</div>
        <table>

        <tr>

            <td>Дата</td>
            <td>Хол.Вода</td>
            <td>Гор.Вода</td>
            <td>Эл-во</td>
            <td>Газ</td>

        </tr>

        {% for service_item in service %}

            <tr>

                <td>{{ service_item.pub_date }}</td>
                <td>{{ service_item.cold_water }} </td>
                <td>{{ service_item.hot_water }}</td>
                <td>{{ service_item.electricity }}</td>
                <td>{{ service_item.gaz }}</td>

            </tr>

        {% endfor %}

        </table>

    

{% endblock %}