{% extends 'base.html' %}
{% block content%}

<form class="col s12" method="POST" id="form_ID" action="{% url 'send_mail:success' %}">
	{% csrf_token %} 
	<div class="input-field col s12">
    <i class="material-icons prefix">email</i>
    <label for="email">Email</label>
    <input id="email" type="email" name="email" class="validate">
	</div>
	<div class="input-field col s12">
   <i class="material-icons prefix">mode_edit</i>
   <label for="message">Текст письма</label>
   <textarea  id="textarea1" name="message" class="materialize-textarea">{{ message }}</textarea>
  </div>
</form>
<div class="center-align">
  <a class="btn-floating btn-middle waves-effect waves-light" onclick="isEmail(document.getElementById('email').value)">
  <i class="material-icons">send</i></a>
</div>




<script type="text/javascript">
      function isEmail(email) {
        var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if (re.test(email)) {
          document.getElementById('form_ID').submit();
        } else{
          alert("Введен не правильный адрес email");
        }
      }
    </script>

{% endblock %}